Output_testCPPligands_9172024.113812/**
planar_tridentates/
Tridentate_by_charge/
freeze.inp
temp.xyz
dehydro_fullopto_temps/1olefin.com
dehydro_fullopto_temps/Alkyl-Hydride-1-2.com
dehydro_fullopto_temps/lig.com
dehydro_fullopto_temps/ligh2.com
dehydro_fullopto_temps/TS-1olefin-disso.com
dehydro_fullopto_temps/TS-BHT-1-2.com
dehydro_fullopto_temps/TS-CH-Add-1-2.com
.gitignore
opto11.5/CEFJUT_Rh_2_3_CNN.mol
opto11.5/FIXTAK_Ni_1_3_CNP.mol
opto11.5/HAVKOH_Cu_1_3_NPS.mol
opto11.5/IKUTOY_Pd_1_3_CNP.mol
opto11.5/IMUKEG_Pd_1_3_CPP.mol
opto11.5/NUYVEI_Ni_1_3_CNN.mol
opto11.5/OZIJAK_Ru_3_3_NOS.mol
opto11.5/PENNAA_Ir_1_3_CPP_63.mol
opto11.5/ROHMOR_Pd_1_3_CNN.mol
opto11.5/ROJMAH_Ru_1_3_BSS.mol
opto11.5/VUGDAE_Pd_1_3_CNP.mol
get_proper_connectiontypes.ipynb
planar_tridentates.zip